<?xml version="1.0"?>
<!--
/**
 * SWe GmbH - Switzerland
 *
 * @author      Sylvain Rayé <support at SWe.com>
 * @category    SWe
 * @package     SWe_Username
 * @copyright   Copyright (c) 2011-2016 SWe (http://www.SWe.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="SWe_username" frontName="customer">
            <module name="SWe_Username" before="Magento_Customer" />
        </route>
    </router>
</config>